
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
metrics/test-results.json

# Reports and artifacts
# results/
# reports/allure-results/
# reports/allure-report/
# reports/logs/
# reports/downloads/
# reports/test-results/
# reports/videos/
# reports/playwright-report/
